<clickhouse>
  <logger><level>warning</level><console>true</console></logger>
  <http_port>8123</http_port>
  <tcp_port>9000</tcp_port>
  <listen_host>0.0.0.0</listen_host>
  <path>/var/lib/clickhouse/</path>
  <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
  <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>
  <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>
  <user_directories>
    <users_xml><path>/etc/clickhouse-server/users.xml</path></users_xml>
    <local_directory><path>/var/lib/clickhouse/access/</path></local_directory>
  </user_directories>
  <default_profile>default</default_profile>
  <timezone>UTC</timezone>
  <max_server_memory_usage>1610612736</max_server_memory_usage>
  <background_pool_size>4</background_pool_size>
  <background_schedule_pool_size>8</background_schedule_pool_size>
  <background_buffer_flush_schedule_pool_size>2</background_buffer_flush_schedule_pool_size>
  <background_message_broker_schedule_pool_size>2</background_message_broker_schedule_pool_size>
  <background_distributed_schedule_pool_size>2</background_distributed_schedule_pool_size>
  <merge_tree>
    <number_of_free_entries_in_pool_to_execute_mutation>2</number_of_free_entries_in_pool_to_execute_mutation>
    <number_of_free_entries_in_pool_to_lower_max_size_of_merge>2</number_of_free_entries_in_pool_to_lower_max_size_of_merge>
    <number_of_free_entries_in_pool_to_execute_optimize_entire_partition>2</number_of_free_entries_in_pool_to_execute_optimize_entire_partition>
  </merge_tree>
  <access_control_improvements>
    <users_without_row_policies_can_read_rows>false</users_without_row_policies_can_read_rows>
  </access_control_improvements>
</clickhouse>
